<div class="row ">
  <div class="col-md-4">
    <h1>Welcome, <%= @first_name %>!</h1>
  </div>
  <div class="col-md-8">
    <div id="profile_picture"><%= link_to image_tag(@user.image.url(:large)), @user.image.url %></span>
 </div>
